<!--
  ~ Copyright (c) 2007-2013  David Soergel  <dev@davidsoergel.com>
  ~ Licensed under the Apache License, Version 2.0
  ~ http://www.apache.org/licenses/LICENSE-2.0
  -->


<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="sequtils" verbose="1" parallel="false" thread-count="1">
  <test name="sequtils">
    <packages>
      <package name="edu.berkeley.compbio.sequtils"/>
      <package name="edu.berkeley.compbio.sequtils.sequencereader.fasta"/>
    </packages>
    <classes>
      <class name="edu.berkeley.compbio.sequtils.strings.MarkovTreeNodeTest"/>
      <class name="edu.berkeley.compbio.sequtils.strings.RonPSTNodeTest"/>
      <class name="edu.berkeley.compbio.sequtils.strings.RonPSTTest"/>
    </classes>
  </test>
</suite>

